<div class="container g-py-100">
<!--   <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
    <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="" ng-click="vm.createHelpRequest()" target="_blank">Post Help</a>
  </div>
 -->  
 <div class="order-lg-1 g-brd-right--lg g-brd-gray-light-v4 g-mb-80">
          <div class="g-pr-20--lg">
   <form id="searchMenu" class="u-header--search g-mb-15" aria-labelledby="searchInvoker" action="#!" style="opacity: 1">
          <div class="input-group g-max-width-450">
            <input class="form-control form-control-md g-rounded-4" type="text" placeholder="Enter search keywords">
            <button type="submit" class="btn u-btn-outline-primary g-brd-none g-bg-transparent--hover g-pos-abs g-top-0 g-right-0 d-flex g-width-40 h-100 align-items-center justify-content-center g-font-size-18 g-z-index-2"><i class="fa fa-search" aria-hidden="true"></i></i>
            </button>
          </div>
        </form>
  <a href="#!" class="btn btn-md u-btn-primary g-mr-10 g-mb-15">Reset</a>
  <a href="#!" class="btn btn-md u-btn-primary g-mr-10 g-mb-15">Apply Filter</a>
  <!-- <div class=" order-lg-1 g-brd-right--lg g-brd-gray-light-v4 g-mb-80">
    <div class="g-pr-20--lg">
    </div>
    
  </div> -->
  <section>
    <div id="shortcode10">
      <div class="shortcode-html">
        <div id="accordion-10" class="u-accordion u-accordion-color-primary u-accordion-brd-primary" role="tablist" aria-multiselectable="true">
          <!-- Card -->
          <div class="card rounded-0 g-brd-none">
            <div id="accordion-10-heading-01" class="u-accordion__header g-pa-0" role="tab">
              <h5 class="mb-0 g-font-weight-600 g-font-size-default">
              <div class="d-flex justify-content-between g-color-main g-text-underline--none--hover g-brd-bottom g-brd-gray-light-v4 g-pa-15-0" data-target="#accordion-10-body-01"
                data-toggle="collapse"
                data-parent="#accordion-10"
                aria-expanded="true"
                aria-controls="accordion-10-body-01">
                <span class="d-flex">
                  <i class="icon-finance-260 u-line-icon-pro g-font-size-18 mr-3"></i>
                  Marketing
                </span>
                <span class="u-accordion__control-icon g-ml-10">
                  <i class="fa fa-angle-right"></i>
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
              </h5>
            </div>
            <div id="accordion-10-body-01" class="collapse show" role="tabpanel" aria-labelledby="accordion-10-heading-01" data-parent="#accordion-10">
              <div class="u-accordion__body g-color-gray-dark-v5 g-pa-15-0">
                This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial
                in keeping the project in line to completion.
              </div>
            </div>
          </div>
          <!-- End Card -->
          <!-- Card -->
          <div class="card rounded-0 g-brd-none">
            <div id="accordion-10-heading-02" class="u-accordion__header g-pa-0" role="tab">
              <div class="mb-0 g-font-weight-600 g-font-size-default">
                <a class="collapsed d-flex justify-content-between g-color-main g-text-underline--none--hover g-brd-bottom g-brd-gray-light-v4 g-pa-15-0" data-target="#accordion-10-body-02"
                  data-toggle="collapse"
                  data-parent="#accordion-10"
                  aria-expanded="false"
                  aria-controls="accordion-10-body-02">
                  <span class="d-flex">
                    <i class="icon-finance-168 u-line-icon-pro g-font-size-18 mr-3"></i>
                    Strategy
                  </span>
                  <span class="u-accordion__control-icon g-ml-10">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                  </span>
                </a>
                </h5>
              </div>
              <div id="accordion-10-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-10-heading-02" data-parent="#accordion-10">
                <div class="u-accordion__body g-color-gray-dark-v5 g-pa-15-0">
                  This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial
                  in keeping the project in line to completion.
                </div>
              </div>
            </div>
            <!-- End Card -->
            <!-- Card -->
            <div class="card rounded-0 g-brd-none">
              <div id="accordion-10-heading-03" class="u-accordion__header g-pa-0" role="tab">
                <h5 class="mb-0 g-font-weight-600 g-font-size-default">
                <div class="collapsed d-flex justify-content-between g-color-main g-text-underline--none--hover g-brd-bottom g-brd-gray-light-v4 g-pa-15-0" data-target="#accordion-10-body-03"
                  data-toggle="collapse"
                  data-parent="#accordion-10"
                  aria-expanded="false"
                  aria-controls="accordion-10-body-03">
                  <span class="d-flex">
                    <i class="icon-finance-189 u-line-icon-pro g-font-size-18 mr-3"></i>
                    Design
                  </span>
                  <span class="u-accordion__control-icon g-ml-10">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                  </span>
                </a>
                </h5>
              </div>
              <div id="accordion-10-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-10-heading-03" data-parent="#accordion-10">
                <div class="u-accordion__body g-color-gray-dark-v5 g-pa-15-0">
                  This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial
                  in keeping the project in line to completion.
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
</div>
</div>