<!-- Blog Minimal Blocks -->

    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
    <div class="container g-py-100">  <!-- g-py-20 -->
<!-- <div class="row justify-content-end">
  <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
    <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="" ng-click="vm.createHelpRequest()" target="_blank">Post Help</a>
  </div>
</div> -->
     <!--  <div class="row justify-content-center">
        <div >
          <article class="g-mb-100" ng-repeat="helpData in vm.HelpStaticData.ThankedBy.data">
            <div class="g-mb-30">
              <div class="media g-mb-25">
                <img class="d-flex g-width-40 g-height-40 rounded-circle mr-2" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
                <div class="media-body">
                  <h4 class="h6 g-color-primary mb-0"><a href="#!">{{helpData.from_name}}</a></h4>
                  <span class="d-block g-color-gray-dark-v4 g-font-size-12">May 31 2017 - 5 min read</span>
                </div>
              </div>

              <img class="img-fluid w-100 g-mb-25" src="../../assets/img-temp/740x380/img1.jpg" alt="Image Description">
              <h2 class="h4 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">{{helpData.thank_title}}</a>
                </h2>
              <p class="g-color-gray-dark-v4 g-line-height-1_8" ng-bind-html="helpData.thank_description"></p>
              <a class="g-font-size-13" href="#!">Read more...</a>
            </div>

            <ul class="d-flex justify-content-end list-inline g-brd-y g-brd-gray-light-v3 g-font-size-13 g-py-13 mb-0">
              <li class="list-inline-item mr-auto">
                <i class="align-middle g-color-primary g-font-size-default mr-1 icon-medical-022 u-line-icon-pro"></i>
                <a class="g-color-gray-dark-v4 g-color-primary--hover g-transition-0_3 g-text-underline--none--hover" href="#!">5k</a>
              </li>
              <li class="list-inline-item mr-4">
                <i class="align-middle g-color-primary g-font-size-default mr-1 icon-finance-206 u-line-icon-pro"></i>
                <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">10 Comments</a>
              </li>
              <li class="list-inline-item">
                <i class="align-middle g-color-primary g-font-size-default mr-1 fa fa-bookmark-o"></i>
                <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">Bookmark</a>
              </li>
            </ul>
          </article>
         
        </div>
      </div> -->
      <section id="home" class="g-pos-rel">
        <div class="js-carousel u-bg-overlay g-bg-black-opacity-0_2--after"
             data-autoplay="true"
             data-infinite="true"
             data-fade="true"
             data-speed="5000">
          <div class="js-slide g-bg-img-hero g-height-100vh g-min-height-600" style="background-image: url(assets/img-temp/1500x1000/img1.jpg);"></div>
          <div class="js-slide g-bg-img-hero g-height-100vh g-min-height-600" style="background-image: url(assets/img-temp/1500x1000/img1.jpg);"></div>
        </div>

        <div class="u-bg-overlay__inner g-absolute-centered w-100">
          <div class="container text-center g-color-white">
            <h2 class="text-uppercase u-heading-v3__title g-letter-spacing-1 g-font-weight-700 g-font-size-18 g-brd-3 g-brd-primary g-pb-5 g-mb-20">Fitness program for all</h2>
            <h3 class="text-uppercase g-line-height-1_4 g-letter-spacing-5 g-font-weight-700 g-font-size-40 g-font-size-55--md g-mb-20">Easy be a perfect</h3>

            <ul class="list-inline g-font-size-16 g-mb-30">
              <li class="list-inline-item g-mx-20 g-mb-10 g-mb-0--md">
                <i class="fa fa-cutlery g-font-size-24 g-color-primary g-valign-middle g-mr-5"></i>
                <strong class="g-font-weight-700 g-valign-middle">2150</strong>
                <span class="g-font-weight-200 g-valign-middle">Kkal</span>
              </li>
              <li class="list-inline-item g-mx-20 g-mb-10 g-mb-0--md">
                <i class="fa fa-calendar g-font-size-24 g-color-primary g-valign-middle g-mr-5"></i>
                <strong class="g-font-weight-700 g-valign-middle">7</strong>
                <span class="g-font-weight-200 g-valign-middle">Weeks</span>
              </li>
              <li class="list-inline-item g-mx-20 g-mb-10 g-mb-0--md">
                <i class="fa fa-clock-o g-font-size-24 g-color-primary g-valign-middle g-mr-5"></i>
                <strong class="g-font-weight-700 g-valign-middle">1.5</strong>
                <span class="g-font-weight-200 g-valign-middle">per/day</span>
              </li>
              <li class="list-inline-item g-mx-20">
                <i class="fa fa-universal-access g-font-size-24 g-color-primary g-valign-middle g-mr-5"></i>
                <strong class="g-font-weight-700 g-valign-middle">3</strong>
                <span class="g-font-weight-200 g-valign-middle">times/week</span>
              </li>
            </ul>

            <a href="#!" class="btn btn-md text-uppercase u-btn-outline-white g-letter-spacing-1 g-font-weight-700 g-font-size-11 g-color-white--hover g-theme-bg-gray-dark-v1--hover g-theme-brd-gray-dark-v1--hover g-rounded-50 g-px-35 g-py-14">Learn More</a>
          </div>
        </div>
      </section>
    </div>
    
  