.background-image {
    background-image: url(../assets/images/background-image.jpg);
}
.background-image1 {
    background-image: url(../assets/images/background-image1.jpg);
}

.background-image-music {
    background-image: url(../assets/images/landing-page.jpg);
}

// full background image
.full-image-background {
  background-size: cover;
  background-position: center;
}	